@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    pointer-events: auto !important;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

#nprogress, .bar {
    background-color: theme('colors.ring') !important;
}

@layer base {
    :root {
        --base-1: 300 20% 99.01960784313727%;
        --base-2: 270 19.999999999999943% 98.0392156862745%;
        --base-3: 285 14.285714285714226% 94.50980392156862%;
        --base-4: 275.99999999999983 11.627906976744214% 91.5686274509804%;
        --base-5: 274.28571428571416 12.280701754385966% 88.8235294117647%;
        --base-6: 262.4999999999999 11.428571428571427% 86.27450980392157%;
        --base-7: 257.99999999999994 11.111111111111107% 82.35294117647058%;
        --base-8: 249.2307692307693 10.400000000000006% 75.49019607843137%;
        --base-9: 249.2307692307692 5.990783410138242% 57.45098039215686%;
        --base-10: 250.00000000000006 5.042016806722695% 53.333333333333336%;
        --base-11: 251.99999999999994 4.807692307692305% 40.78431372549019%;
        --base-12: 257.14285714285717 10.144927536231885% 13.529411764705882%;
        --accent-1: 209.99999999999977 100% 99.2156862745098%;
        --accent-2: 207.27272727272737 100% 97.84313725490196%;
        --accent-3: 205 92.30769230769234% 94.90196078431372%;
        --accent-4: 202.85714285714286 100% 91.76470588235294%;
        --accent-5: 205.5737704918033 100% 88.0392156862745%;
        --accent-6: 207 93.02325581395351% 83.13725490196079%;
        --accent-7: 206.53846153846155 85.2459016393443% 76.07843137254902%;
        --accent-8: 205.6551724137931 81.92090395480226% 65.29411764705883%;
        --accent-9: 206.11764705882354 100% 50%;
        --accent-10: 206.5531914893617 95.91836734693877% 48.03921568627451%;
        --accent-11: 207.97927461139895 88.12785388127853% 42.94117647058824%;
        --accent-12: 216.14457831325302 70.94017094017094% 22.941176470588236%;
        --background: 300 20% 99.01960784313727%;
        --foreground: 257.14285714285717 10.144927536231885% 13.529411764705882%;
        --card: 270 19.999999999999943% 98.0392156862745%;
        --card-foreground: 257.14285714285717 10.144927536231885% 13.529411764705882%;
        --popover: 300 20% 99.01960784313727%;
        --popover-foreground: 257.14285714285717 10.144927536231885% 13.529411764705882%;
        --primary: 206.5531914893617 95.91836734693877% 48.03921568627451%;
        --primary-foreground: 0 0% 100%;
        --secondary: 270 19.999999999999943% 98.0392156862745%;
        --secondary-foreground: 251.99999999999994 4.807692307692305% 40.78431372549019%;
        --muted: 270 19.999999999999943% 98.0392156862745%;
        --muted-foreground: 251.99999999999994 4.807692307692305% 40.78431372549019%;
        --accent: 206.5531914893617 95.91836734693877% 48.03921568627451%;
        --accent-foreground: 0 0% 100%;
        --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
        --destructive-foreground: 350.64935064935065 62.601626016260155% 24.11764705882353%;
        --border: 262.4999999999999 11.428571428571427% 86.27450980392157%;
        --input: 262.4999999999999 11.428571428571427% 86.27450980392157%;
        --ring: 217.2 91.2% 59.8%;
        --radius: 0.5rem;

        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;

        --chart-1: 206.5531914893617 95.91836734693877% 48.03921568627451%;
        --chart-2: 207.97927461139895 88.12785388127853% 42.94117647058824%;
        --chart-3: 206.11764705882354 100% 50%;
        --chart-4: 205.6551724137931 81.92090395480226% 65.29411764705883%;
        --chart-5: 207 93.02325581395351% 83.13725490196079%;

        /*--sidebar-background: 0 0% 98.82352941176471%;*/
        /*--sidebar-foreground: 0 0% 12.549019607843137%;*/
        /*--sidebar-primary: 206.5531914893617 95.91836734693877% 48.03921568627451%;*/
        /*--sidebar-primary-foreground: 0 0% 100%;*/
        /*--sidebar-accent: 206.5531914893617 95.91836734693877% 48.03921568627451%;*/
        /*--sidebar-accent-foreground: 0 0% 100%;*/
        /*--sidebar-border: 0 0% 85.09803921568627%;*/
        /*--sidebar-ring: 0 0% 85.09803921568627%;*/
    }

    .dark {
        --base-1: 270 5.555555555555555% 7.0588235294117645%;
        --base-2: 270 3.8461538461538463% 10.196078431372548%;
        --base-3: 260.00000000000006 4.225352112676061% 13.92156862745098%;
        --base-4: 270 4.651162790697675% 16.862745098039216%;
        --base-5: 263.99999999999994 4.950495049504953% 19.80392156862745%;
        --base-6: 269.99999999999994 5% 23.52941176470588%;
        --base-7: 257.1428571428571 4.697986577181211% 29.215686274509807%;
        --base-8: 258.00000000000006 4.9999999999999964% 39.21568627450981%;
        --base-9: 250.90909090909096 4.803493449781661% 44.90196078431372%;
        --base-10: 250.90909090909085 4.31372549019608% 50%;
        --base-11: 258.00000000000006 6.944444444444459% 71.76470588235294%;
        --base-12: 240 6.249999999999978% 93.72549019607843%;
        --accent-1: 214.73684210526315 42.22222222222223% 8.823529411764705%;
        --accent-2: 218.1818181818182 39.28571428571429% 10.980392156862745%;
        --accent-3: 212.06896551724137 69.04761904761905% 16.470588235294116%;
        --accent-4: 208.77551020408166 100% 19.215686274509807%;
        --accent-5: 206.8965517241379 100% 22.745098039215687%;
        --accent-6: 209.2436974789916 78.80794701986756% 29.607843137254903%;
        --accent-7: 210.95238095238096 66.31578947368422% 37.254901960784316%;
        --accent-8: 211.00671140939596 65.06550218340611% 44.90196078431373%;
        --accent-9: 206.11764705882354 100% 50%;
        --accent-10: 209.6938775510204 100% 61.568627450980394%;
        --accent-11: 209.79020979020981 100% 71.96078431372548%;
        --accent-12: 204.59016393442622 100% 88.0392156862745%;
        --background: 270 5.555555555555555% 7.0588235294117645%;
        --foreground: 240 6.249999999999978% 93.72549019607843%;
        --card: 270 3.8461538461538463% 10.196078431372548%;
        --card-foreground: 240 6.249999999999978% 93.72549019607843%;
        --popover: 270 5.555555555555555% 7.0588235294117645%;
        --popover-foreground: 240 6.249999999999978% 93.72549019607843%;
        --primary: 209.6938775510204 100% 61.568627450980394%;
        --primary-foreground: 0 0% 100%;
        --secondary: 270 3.8461538461538463% 10.196078431372548%;
        --secondary-foreground: 258.00000000000006 6.944444444444459% 71.76470588235294%;
        --muted: 270 3.8461538461538463% 10.196078431372548%;
        --muted-foreground: 258.00000000000006 6.944444444444459% 71.76470588235294%;
        --accent: 209.6938775510204 100% 61.568627450980394%;
        --accent-foreground: 0 0% 100%;
        --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
        --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
        --border: 269.99999999999994 5% 23.52941176470588%;
        --input: 269.99999999999994 5% 23.52941176470588%;
        --ring: 217.2 91.2% 59.8%;
        --radius: 0.5rem;

        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;

        --chart-1: 209.6938775510204 100% 61.568627450980394%;
        --chart-2: 209.79020979020981 100% 71.96078431372548%;
        --chart-3: 206.11764705882354 100% 50%;
        --chart-4: 211.00671140939596 65.06550218340611% 44.90196078431373%;
        --chart-5: 209.2436974789916 78.80794701986756% 29.607843137254903%;

        /*--sidebar-background: 0 0% 6.666666666666667%;*/
        /*--sidebar-foreground: 0 0% 93.33333333333333%;*/
        /*--sidebar-primary: 209.6938775510204 100% 61.568627450980394%;*/
        /*--sidebar-primary-foreground: 0 0% 100%;*/
        /*--sidebar-accent: 209.6938775510204 100% 61.568627450980394%;*/
        /*--sidebar-accent-foreground: 0 0% 100%;*/
        /*--sidebar-border: 0 0% 22.745098039215687%;*/
        /*--sidebar-ring: 0 0% 22.745098039215687%;*/
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
